# [Python]Desafio proposto pela DSA utilizando Pandas e Numpy.
## Missão: Analisar o Comportamento de Compra de Consumidores.

### O arquivo  utilizado como dataset é o'dados_compra.json' que apresenta as colunas Login, Idade e Sexo referentes ao CLIENTE, e as colunas Item ID, Nome do Item e Valor referentes ao PRODUTO.
### As informações retiradas do banco de dados, segue a orientação do desafio proposto. Existem diversas formas de organização e apresentações possíveis. Para seguir a proposta dos desafios, as informações obtidas com o modelo segue o padrão solicitado pelo desafio.

### As informações solicitadas no desafio seguem abaixo:
#### **Contagem de Consumidores**

* Número total de consumidores


**Análise Geral de Compras**

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


**Informações Demográficas Por Gênero**

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


**Análise de Compras Por Gênero**

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


**Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela):**

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra


**Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela):**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


**Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela):**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra

## Banco de Dados

In [98]:
import pandas as pd

## Importando o bando de dados

In [99]:
dataset = pd.read_json('dados_compras.json')
dataset

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61

## Análise Descritiva

### Total de consumidores

In [100]:
total_consumidores = len(dataset['Login'].unique())
print(f'Total: {total_consumidores} consumidores')

Total: 573 consumidores

### Análise geral de compras

In [101]:
variedade_itens = len(dataset['Item ID'].unique())
print(f'Total: {variedade_itens} itens exclusivos')

Total: 183 itens exclusivos

In [102]:
preço_medio_compra = (dataset['Valor'].sum() / len(dataset)).round(2)
print(f'Preço médio de compra: R${preço_medio_compra}')

Preço médio de compra: R$2.93

In [103]:
numero_total_compras = len(dataset)
print(f'Quantidade total de compras: {numero_total_compras} compras')

Quantidade total de compras: 780 compras

In [104]:
rendimento_total = dataset['Valor'].sum()
print(f'Rendimento total: R${rendimento_total}')

Rendimento total: R$2286.33

### Informações demográficas por gênero

In [105]:
list(dataset.Sexo.unique())

['Masculino', 'Feminino', 'Outro / Não Divulgado']

In [106]:
total_masc = len(dataset.query("Sexo == 'Masculino'")['Login'].unique())
total_masc

465

In [107]:
total_fem = len(dataset.query("Sexo == 'Feminino'")['Login'].unique())
total_fem

100

In [108]:
total_outro = len(dataset.query("Sexo == 'Outro / Não Divulgado'")['Login'].unique())
total_outro

8

In [109]:
porcentagem_masc = round((total_masc*100 / total_consumidores), 2)
print(f'Total de consumidores do sexo masculino: {total_masc} dos consumidores'
      f'\nPorcentagem de consumidores do sexo masculino: {porcentagem_masc}% dos consumidores')

Total de consumidores do sexo masculino: 465 dos consumidores
Porcentagem de consumidores do sexo masculino: 81.15% dos consumidores

In [110]:
porcentagem_fem = round((total_fem*100 / total_consumidores), 2)
print(f'Total de consumidores do sexo feminino: {total_fem} dos consumidores'
      f'\nPorcentagem de consumidores do sexo feminino: {porcentagem_fem}% dos consumidores')

Total de consumidores do sexo feminino: 100 dos consumidores
Porcentagem de consumidores do sexo feminino: 17.45% dos consumidores

In [111]:
porcentagem_outro = round((total_outro*100 / total_consumidores), 2)
print(f'Total de consumidores do sexo Outro / Não Divulgado: {total_outro} dos consumidores'
      f'\nPorcentagem de consumidores do sexo Outro / Não Divulgado: {porcentagem_outro}% dos consumidores')

Total de consumidores do sexo Outro / Não Divulgado: 8 dos consumidores
Porcentagem de consumidores do sexo Outro / Não Divulgado: 1.4% dos consumidores

### Análise de compras por gênero

#### Total de compras

In [112]:
total_compras_masc = len(dataset.query("Sexo == 'Masculino'"))
print(f'Total de compras do sexo masculino: {total_compras_masc} itens')

Total de compras do sexo masculino: 633 itens

In [113]:
total_compras_fem = len(dataset.query("Sexo == 'Feminino'"))
print(f'Total de compras do sexo feminino: {total_compras_fem} itens')

Total de compras do sexo feminino: 136 itens

In [114]:
total_compras_outros = len(dataset.query("Sexo == 'Outro / Não Divulgado'"))
print(f'Total de compras do sexo Outro / Não Divulgado: {total_compras_outros} itens')

Total de compras do sexo Outro / Não Divulgado: 11 itens

#### Preço médio de compras

In [115]:
preco_medio_masc = round(((dataset.query("Sexo == 'Masculino'"))['Valor'].sum()) / total_compras_masc, 2)
print(f'Preço médio de compra do sexo masculino: R${preco_medio_masc}')

Preço médio de compra do sexo masculino: R$2.95

In [116]:
preco_medio_fem = round(((dataset.query("Sexo == 'Feminino'"))['Valor'].sum()) / total_compras_fem, 2)
print(f'Preço médio de compra do sexo feminino: R${preco_medio_fem}')

Preço médio de compra do sexo feminino: R$2.82

In [117]:
preco_medio_outros = round(((dataset.query("Sexo == 'Outro / Não Divulgado'"))['Valor'].sum()) / total_compras_outros, 2)
print(f'Preço médio de compra do sexo Outro / Não Divulgado: R${preco_medio_outros}')

Preço médio de compra do sexo Outro / Não Divulgado: R$3.25

#### Valor total de compras

In [118]:
total_compra_masc = dataset.query("Sexo == 'Masculino'")['Valor'].sum()
print(f'Valor total de compra do sexo masculino: R${total_compra_masc}')

Valor total de compra do sexo masculino: R$1867.68

In [119]:
total_compra_fem = round(dataset.query("Sexo == 'Feminino'")['Valor'].sum(), 2)
print(f'Valor total de compra do sexo feminino: R${total_compra_fem}')

Valor total de compra do sexo feminino: R$382.91

In [120]:
total_compra_outros = round(dataset.query("Sexo == 'Outro / Não Divulgado'")['Valor'].sum(), 2)
print(f'Valor total de compra do sexo Outro / Não Divulgado: R${total_compra_outros}')

Valor total de compra do sexo Outro / Não Divulgado: R$35.74

#### Total de compras por faixa etária

In [121]:
dataset['Idade'].min(), dataset['Idade'].max()

(7, 45)

In [122]:
amplitude_total = dataset.Idade.max() - dataset.Idade.min()
amplitude_total

38

In [123]:
compras_masc = dataset.query("Sexo == 'Masculino'")['Idade']
compras_fem = dataset.query("Sexo == 'Feminino'")['Idade']
compras_outros = dataset.query("Sexo == 'Outro / Não Divulgado'")['Idade']

In [124]:
faixa_7_a_14 = 0
faixa_15_a_22 = 0
faixa_23_a_30 = 0
faixa_31_a_38 = 0
faixa_39_a_45 = 0

In [125]:
def faixa_etaria(dados):
    global faixa_7_a_14
    global faixa_15_a_22
    global faixa_23_a_30
    global faixa_31_a_38
    global faixa_39_a_45
    faixa_7_a_14 = 0
    faixa_15_a_22 = 0
    faixa_23_a_30 = 0
    faixa_31_a_38 = 0
    faixa_39_a_45 = 0
    for i in dados:
        if i < 15:
            faixa_7_a_14 = faixa_7_a_14 + 1
        if 15 <= i < 23:
            faixa_15_a_22 = faixa_15_a_22 + 1
        if 23 <= i < 31:
            faixa_23_a_30 = faixa_23_a_30 + 1
        if 31 <= i < 39:
            faixa_31_a_38 = faixa_31_a_38 + 1
        if 39 <= i:
            faixa_39_a_45 = faixa_39_a_45 + 1

In [126]:
faixa_etaria(compras_masc)
print(f' Nº de compras de clientes do sexo masculino na faixa de 7 a 14 anos de idade: {faixa_7_a_14}\n',
      f'Nº de compras de clientes do sexo masculino na faixa de 15 a 22 anos de idade: {faixa_15_a_22}\n',
      f'Nº de compras de clientes do sexo masculino na faixa de 23 a 30 anos de idade: {faixa_23_a_30}\n',
      f'Nº de compras de clientes do sexo masculino na faixa de 31 a 38 anos de idade: {faixa_31_a_38}\n',
      f'Nº de compras de clientes do sexo masculino na faixa de 39 anos de idade ou mais: {faixa_39_a_45}\n\n')
faixa_etaria(compras_fem)
print(f' Nº de compras de clientes do sexo feminino na faixa de 7 a 14 anos de idade: {faixa_7_a_14}\n',
      f'Nº de compras de clientes do sexo feminino na faixa de 15 a 22 anos de idade: {faixa_15_a_22}\n',
      f'Nº de compras de clientes do sexo feminino na faixa de 23 a 30 anos de idade: {faixa_23_a_30}\n',
      f'Nº de compras de clientes do sexo feminino na faixa de 31 a 38 anos de idade: {faixa_31_a_38}\n',
      f'Nº de compras de clientes do sexo feminino na faixa de 39 anos de idade ou mais: {faixa_39_a_45}\n\n')
faixa_etaria(compras_outros)
print(f' Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 7 a 14 anos de idade: {faixa_7_a_14}\n',
      f'Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 15 a 22 anos de idade: {faixa_15_a_22}\n',
      f'Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 23 a 30 anos de idade: {faixa_23_a_30}\n',
      f'Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 31 a 38 anos de idade: {faixa_31_a_38}\n',
      f'Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 39 anos de idade ou mais: {faixa_39_a_45}\n\n')

 Nº de compras de clientes do sexo masculino na faixa de 7 a 14 anos de idade: 47
 Nº de compras de clientes do sexo masculino na faixa de 15 a 22 anos de idade: 286
 Nº de compras de clientes do sexo masculino na faixa de 23 a 30 anos de idade: 218
 Nº de compras de clientes do sexo masculino na faixa de 31 a 38 anos de idade: 67
 Nº de compras de clientes do sexo masculino na faixa de 39 anos de idade ou mais: 15


 Nº de compras de clientes do sexo feminino na faixa de 7 a 14 anos de idade: 15
 Nº de compras de clientes do sexo feminino na faixa de 15 a 22 anos de idade: 54
 Nº de compras de clientes do sexo feminino na faixa de 23 a 30 anos de idade: 49
 Nº de compras de clientes do sexo feminino na faixa de 31 a 38 anos de idade: 11
 Nº de compras de clientes do sexo feminino na faixa de 39 anos de idade ou mais: 7


 Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 7 a 14 anos de idade: 1
 Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 15 a 22 anos de idade: 2
 Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 23 a 30 anos de idade: 3
 Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 31 a 38 anos de idade: 5
 Nº de compras de clientes do sexo Outro / Não Divulgado na faixa de 39 anos de idade ou mais: 0

### Maiores compradores pelo valor total de compra

In [127]:
dataset.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

In [128]:
total = pd.DataFrame(dataset.groupby('Login')['Valor'].sum())
total.rename(columns = {'Valor': 'Total'}, inplace = True)

In [129]:
quantidade = dataset['Login'].value_counts()

In [130]:
media = round(dataset.groupby('Login')['Valor'].mean(), 2)

In [131]:
maiores_compradores = pd.concat([quantidade, media, total], axis = 1)
maiores_compradores.index.name = 'Login'
maiores_compradores.rename(columns = {'Login': 'Quantidade', 'Valor': 'Média'}, inplace = True)
maiores_compradores.sort_values(by = 'Total', ascending = False).head()

             Quantidade  Média  Total
Login
Undirrala66           5   3.41  17.06
Saedue76              4   3.39  13.56
Mindimnya67           4   3.18  12.74
Haellysu29            3   4.24  12.73
Eoda93                3   3.86  11.58

### Itens mais populares

In [132]:
item_id = dataset.set_index('Item ID')

In [133]:
quantidade = pd.DataFrame(item_id.groupby('Item ID')['Nome do Item'].value_counts())
quantidade.rename(columns = {'Nome do Item': 'Quantidade'}, inplace = True)
quantidade = quantidade.reset_index('Nome do Item')

In [134]:
total = pd.DataFrame(item_id.groupby('Item ID')['Valor'].sum())
total.rename(columns = {'Valor': 'Total'}, inplace = True)

In [135]:
tabela = pd.concat([quantidade, total], axis = 1)

In [136]:
tabela['Preço'] = tabela['Total'] / tabela['Quantidade']

In [137]:
tabela = tabela.sort_values(by='Quantidade', ascending = False).head(6)

In [138]:
temp = tabela['Total']

In [139]:
tabela.drop(columns = ['Total'], inplace = True)

In [140]:
tabela['Total'] = temp
tabela

                                 Nome do Item  Quantidade  Preço  Total
Item ID
39       Betrayal, Whisper of Grieving Widows          11   2.35  25.85
84                                 Arcane Gem          11   2.23  24.53
31                                  Trickster           9   2.07  18.63
175                Woeful Adamantite Claymore           9   1.24  11.16
13                                   Serenity           9   1.49  13.41
34                            Retribution Axe           9   4.14  37.26

#### Mais lucrativos

In [141]:
mais_lucrativos = tabela.sort_values(by = 'Total', ascending = False).head(5)
mais_lucrativos

                                 Nome do Item  Quantidade  Preço  Total
Item ID
34                            Retribution Axe           9   4.14  37.26
39       Betrayal, Whisper of Grieving Widows          11   2.35  25.85
84                                 Arcane Gem          11   2.23  24.53
31                                  Trickster           9   2.07  18.63
13                                   Serenity           9   1.49  13.41